.topic .topicName{
  font-size: 6rem;
  margin-top: 2%;
  color:#0884ff;
  font-family: 'simsun';
  font-weight: bold;
}

.topic .topicDetails{
  font-family: 'simhei';
}

.container-fluid{
  height: 100%;
  font-size: 1.5rem;
  background:url('../../../assets/imgs/2.jpg');
  background-size: 100%;
}

.formContainer{
  background: #FFF;
  border-radius: 4px;
}
.formContainer img{
  width: 70px;
  height: 70px;
}
.formContainer label{
  font-size: .9em;
}
.username, .password{
  height:36px;
}
.submitBtn{
  margin-top: 5%;
  margin-left: 8%;
  width: 88%;
  height: 32px;
  font-size: .9em;
}
