<div class="container-fluid">
    <div class="topic text-center">
      <p class="topicName">边界</p>
      <p class="topicDetails">沟通 即刻开始</p>
    </div>

  <div class="formContainer ui-g-4 ui-g-offset-4">
    <div class="text-center">
        <img src='../../../assets/imgs/header.jpg' alt="头像" class="img-circle">
    </div>
    <form class="form-horizontal" [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="form-group" style="margin-top: 5%">
              <span class="ui-float-label text-center">
                  <input id="float-input1" type="text" style="width: 70%;" formControlName="email" pInputText>
                  <label for="float-input1" style="left: 16%;">邮箱</label>
              </span>
        </div>
        <div class="ui-g-offset-3" style="color:#f02c2c; font-size:.5em;margin-left:15%"
          *ngIf="!registerForm.controls['email'].valid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)">
              邮箱不能为空！
            </div>
        <div class="form-group"  style="margin-top: 5%">
            <span class="ui-float-label text-center">
                <input id="float-input1" type="text" style="width: 70%;" formControlName="userName" pInputText>
                <label for="float-input1" style="left: 16%;">用户名</label>
            </span>
        </div>
        <div class="ui-g-offset-3" style="color:#f02c2c; font-size:.5em;margin-left:15%"
          *ngIf="!registerForm.controls['userName'].valid && (registerForm.controls['userName'].dirty || registerForm.controls['userName'].touched)">
              用户名不能为空！
            </div>
        <div class="form-group" style="margin-top: 5%">
            <span class="ui-float-label text-center">
                <input id="float-input2" type="password" style="width: 70%;" formControlName="password" pInputText>
                <label for="float-input2" style="left: 16%;">密码</label>
            </span>
        </div>
        <div class="ui-g-offset-3" style="color:#f02c2c; font-size:.5em;margin-left:15%"
          *ngIf="!registerForm.controls['password'].valid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)">
              密码不能为空且长度不能小于6位！
            </div>
        <div class="form-group">
            <div>
              <button pButton class="submitBtn" type="submit" label="注册" [disabled]="!registerForm.valid"></button>
            </div>
        </div>

          <div class="row">
                <div class="ui-g-4 ui-g-offset-4">
                    <a href="/login" style="font-size: .6em; color: #404c51;">已有账户？去登录</a>
                </div>
          </div>
        </form>
  </div>
</div>

















