<div id="outerContainer">
    <div class="jumbotron">
      <h2 class="text-center" style="font-weight: 300;">欢迎使用</h2>
      <br>
      <h1 class="text-center" style="font-family: simsun;font-weight: bold;">边界</h1>
      <br>
      <p class="text-center">即刻开启您的聊天之旅</p>
      <br>
      <br>
      <div class="text-center">
        <div class="ui-fluid">
            <div class="ui-g">
                <div class="ui-g-2 ui-g-offset-4">
                    <button pButton type="button" label="登录" routerLink="/login" routerLinkActive="active"></button>
                </div>
                <div class="ui-g-2 ">
                    <button pButton type="button" label="注册" routerLink="/register" routerLinkActive="active"></button>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>



