<div class="outerContainer">
    <ul class="nav nav-pills navbar-fixed-top">
        <li role="presentation" class="header"><img src="../../../assets/imgs/header.jpg" style="width: 50px" class="img-responsive img-circle" alt="头像"></li>

        <!-- routerLink传递参数有两种方式，
            /message/selectedFriend：[routerLink]="['./message',selectedFriend]"，获取时使用params获取
            /message?id=2：[routerLink]="['./message'] [queryParams]="{id:2}"，获取时使用 queryParams
        -->
        <li role="presentation" class="active lHeight"><a [routerLink]="['./message',selectedFriend]"><i class="fa fa-comments-o"></i></a></li>
        <li role="presentation" class="active lHeight"><a [routerLink]="['./friends']" ><i class="fa fa-users"></i></a></li>
        <li role="presentation" class="active lHeight"><a [routerLink]="['./news']" ><i class="fa fa-newspaper-o"></i></a></li>
        <li role="presentation" class="active lHeight"><a (click)="showAddDialog()"><i class="fa fa-user-plus"></i></a></li>
      </ul>
    <div class="contentContainer">
          <p-listbox class="ui-g-4" [routerLink]="['./message',selectedFriend]" [options]="friendList" [(ngModel)]="selectedFriend" (click)="changeChatPage()"></p-listbox>
          <div class="content">
              <router-outlet></router-outlet>
          </div>
    </div>
</div>

<p-dialog header="添加好友" [(visible)]="displayAddFriendDialog" [style]="{width: '300px', height: '200px'}">
  <div class="ui-g">
    <input type="text" placeholder="好友昵称/邮箱" style="width: 100%;" pInputText [(ngModel)]="searchInfo"/>
  </div>
  <p-footer>
    <button *ngIf="searchInfo" pButton type="button" label="添加" class="ui-button-info"  (click)="validateSearchInfo()"></button>
    <button *ngIf="!searchInfo" disabled pButton type="button" label="添加" class="ui-button-info"></button>
    <button pButton type="button" label="取消" class="ui-button-secondary" (click)="hideAddDialog()"></button>
  </p-footer>
</p-dialog>

<p-toast></p-toast>




